@{
	ViewData["Title"] = "Access";
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Your Website Title</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<div class="row">
	<div class="col-md-6 offset-3 alert alert-danger text-center">
		<h2> You are not allowed to access this page</h2>
		<p> Please, click the button below to be redirected to the home page</p>
		<hr />
		<p>
			<a asp-action="index" asp-controller="Home">Home</a>
		</p>
	</div>
</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="/js/scripts.js"></script>
</body>
</html>